@import "@fontsource/nunito";

* {
    box-sizing: border-box;
    font-family: "Nunito, sans-serif";
}

html {
    font-size: calc(12px + .3vw);
    font-weight: 700;
}


html, body {
    height: 100vh;
}

body {
    padding: 3rem 0;
}
